/*contact.html*/
html {
margin: 0;
padding: 5px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: white;
background-color: #0B0C10;
}

body {
  gap: 0px 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #45A29E;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 14px;
  text-decoration: none;
  color: white;
}

table, th, td {
  border: solid white 1px;
  border-collapse: collapse;
  font-size: 16px;
  padding: 5px;
}

th, #cijfer {
  text-align: center;
}

td {
  text-align: left;
}

a:hover { background-color: #3b8a86;}

a:active { background-color: #265957;}

.grid-container {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: repeat(20%, 5)
}

.navbar {
  display: grid;
  grid-column: 1/4;
  grid-row: 1/2;
  list-style-type: none;
  margin: 0;
}

.contact {
  grid-column: 1/4;
  grid-row: 2/3;
  color: #66FCF1;
  text-align: center;
  font-size: 40px;
}

.contact-item {
  grid-column: 1/4;
  grid-row: 3/4;
  text-align: center;
}

.geenantwoord {
  grid-column: 1/4;
  grid-row: 4/5;
  color: #66FCF1;
  text-align: center;
  font-size: 40px;
}

.geenantwoord-item {
  grid-column: 1/4;
  grid-row: 6/7;
  text-align: center;
}
